package {{repositoryPackage}}.custom;

{{#models}}
    {{#model}}
import {{package}}.{{classname}};

import java.util.List;

{{>generatedAnnotation}}
public interface {{classname}}RepositoryCustom {

    /**
    * Add custom methods to use on repository below.
    */

}
    {{/model}}
{{/models}}