package {{repositoryPackage}};

{{#models}}
    {{#model}}
import org.springframework.data.repository.CrudRepository;
import {{repositoryPackage}}.custom.{{classname}}RepositoryCustom;
import {{package}}.{{classname}};

{{#vars}}
    {{#vendorExtensions.x-hibernate-primaryKey}}
{{>generatedAnnotation}}
public interface {{classname}}Repository extends CrudRepository<{{classname}}, {{{datatypeWithEnum}}}>, {{classname}}RepositoryCustom {
    {{/vendorExtensions.x-hibernate-primaryKey}}
{{/vars}}

}
    {{/model}}
{{/models}}