package {{repositoryPackage}}.custom.impl;

import org.apache.commons.lang3.Validate;
import {{repositoryPackage}}.custom.{{classname}}RepositoryCustom;
import {{package}}.{{classname}};

import javax.persistence.EntityManager;
import javax.persistence.PersistenceContext;
import javax.persistence.criteria.CriteriaBuilder;
import javax.persistence.criteria.CriteriaQuery;
import javax.persistence.criteria.Root;
import java.util.List;

{{>generatedAnnotation}}
public class {{classname}}RepositoryImpl implements {{classname}}RepositoryCustom {

    @PersistenceContext
    private EntityManager entityManager;

    /**
    * Add custom method implementations to use on repository below.
    */

}